#link {
	margin-right: 20px;
	position: fixed;
	top: 0;
	right: 0;
	font-weight: bold;
	opacity: 0.5;
	z-index: 3;
}
#main {
	z-index: 2;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	background-color: white;
	width: 70%;
	height: 100%;
}

a:hover {
	cursor: pointer;
}

#particles-js{
	background: transparent;
	z-index: -1;
	background-color: transparent;
}

#particles {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	background-position: 50% 50%;

}