#resume_img {
	width: 70%;
	height: 80%;
}

h1 {
	clear:both;
	margin-bottom: 0px;
	opacity: 0.5;
}

body {
	text-align: center;
}

#link {
	float: right;
}

#link span a{
	font-size: 15px;
	font-style: bold italic;
	color: black
}

#link span a:hover {
	text-decoration: underline;
}

#link span:after {
	content: " / ";
	color: #999;
	font-size: 15px;
}

#link span:last-of-type:after {
	content: "";
}
